
Lab_4/obj/Debug/HexCalculator.csproj.FileListAbsolute.txt
.vs/HexCalculator/v16/Server/sqlite3/db.lock
.vs/HexCalculator/v16/.suo
.vs/HexCalculator/v16/Server/sqlite3/storage.ide
.vs/HexCalculator/v16/Server/sqlite3/storage.ide-shm
.vs/HexCalculator/v16/Server/sqlite3/storage.ide-wal
